.align-space-between {
     display: flex;
     justify-content: space-between;
     margin: auto;
}

.align-vertically {
     display: block;
     justify-content: center;
}

.body-background {
     background-color: rgb(185, 240, 243);
     text-align: center;

}

div {
     border-radius: 10px;
     text-align: center;
}

p {
     margin: 12px 10px;
}

.score-box {
     width: 500px;
     text-align: center;
     margin: auto;
     background-color: blueviolet;
}
.play-box {
     width: 65%;
     text-align: center;
     margin: auto;
     background-color: slateblue;
     border: 2px solid gray;
     box-shadow: 4px 4px darkorange;
     margin-bottom: 5px;;
}

.game-box {
     width: 50%;
     text-align: center;
     margin: auto;
     background-color: blueviolet;
}

.game-history-box {
     background-color: blueviolet;
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
}

.guess-box {
     border-radius: 15px;
     height: 40px;
     margin-top: 25px;
     text-align: center;
     width: 200px;
}

.guess-btn {
     background-color: lightgreen;
     border: 2px solid greenyellow;
     border-radius: 10px;
     box-shadow: 2px 3px green;
     font-size: medium;
     font-weight: bold;
     height: 50px;
     width: 150px;
     margin-top: 10px;
     margin-bottom: 10px;;
     margin-left: auto;
     margin-right: auto;
}

.guess-btn:hover {
     cursor: pointer;
     background-color: greenyellow;
}

.guess-btn:active {
     color: red;
}


.image-box {
     border-radius: 10px; 
     box-shadow: 2px 2px purple;
     width: 200px; 
     height: 150px;
     margin-top: 15px;
}

.score-box {
     background-color: rgb(252, 135, 125);
     border: 2px solid lightpink;
     box-shadow: 2px 3px rgb(255, 90, 255);
     height: 75px;;
     width: 150px;
     margin: 15px 10px;  
     
}

.reset-btn {
     background-color: rgb(252, 135, 125);
     border: 2px solid lightpink;
     border-radius: 10px;
     box-shadow: 2px 3px rgb(255, 90, 255);
     font-size: medium;
     font-weight: bold;
     height: 50px;
     width: 150px;
     margin: 30px 10px;
}

.reset-btn:hover {
     cursor: pointer;
     background-color: hotpink;
}

.reset-btn:active {
     color: red;
}

.h1-font {
     color: lightskyblue;
     font-family: 'Trebuchet-MS';
     text-shadow: 2px 2px hotpink;
}
